ase
blinker
click
cycler
exceptiongroup
execnet
Flask
fonttools
iniconfig
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
Pillow
pluggy
pyparsing
pytest
pytest-mock
pytest-xdist
python-dateutil
scipy
six
spglib
tomli
Werkzeug
tkinter 
